<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Public NuGet.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- DevExpress NuGet Feed -->
    <add key="DevExpress" value="https://nuget.devexpress.com/api/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceCredentials>
    <DevExpress>
      <!-- DevExpress credentials will be added via environment variables in CI/CD -->
      <add key="Username" value="%DEVEXPRESS_NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%DEVEXPRESS_NUGET_KEY%" />
    </DevExpress>
  </packageSourceCredentials>
</configuration>
